/* --------- IMPORTS --------- */
@import url(https://fonts.googleapis.com/css?family=Roboto);
/* Apex charts */
@import url(https://fonts.googleapis.com/css?family=Poppins);

/* --------- CONTENT --------- */
#content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* --------- NAV --------- */
#homeIcon {
    width: 4vh;
    height: 4vh;
}

.navContainer {
    width: 100%;
}

.navbar-toggler-icon {
    border-color: cyan;
}

#menuBtn {
    margin-bottom: 1.5vh;
}
