@import url(https://fonts.googleapis.com/css?family=Roboto);
/* Apex charts */
@import url(https://fonts.googleapis.com/css?family=Poppins);

/* html */
html {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* footer */
.footer {
    height: 15%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    vertical-align: bottom;
    text-align: center;
}

/* content */
#content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Nav bar */
#homeIcon {
    width: 4vh;
    height: 4vh;
}

.navContainer {
    width: 100%;
}

.navbar-toggler-icon {
    border-color: cyan;
}

#menuBtn {
    margin-bottom: 1.5vh;
}

/* register page */
#registerButton {
    display: flex;
    flex-direction: column;
}

#RegFormTittle {
    font-size: 3vh;
}

#logButton {
    margin: 2vh;
    width: fit-content;
}

/* login page */
.logbtn {
    display: flex;
    flex-direction: column;
}

/* welcome page */
#welcomeVideo {
    z-index: -100;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    object-fit: cover;
}

.welcomeContainer {
    height: 100%;
    width: 100%;
}

#welcomeCard {
    border: none;
    background-color: transparent;
    vertical-align: middle;
    text-align: center;
}

#welcomeSlogen {
    font-size: 5vh;
    font-family: "Arial Black", Gadget, sans-serif;
    letter-spacing: 0px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    margin-bottom: 3vh;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

#welcomeButton {
    height: 6vh;
    width: 30vh;
    font-size: 120%;
    font-family: "Arial Black", Gadget, sans-serif;
    letter-spacing: 0px;
    word-spacing: 2px;
    text-transform: capitalize;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

/* spending page */

#financeCard {
    border: 3;
    border-color: lightgray;
    margin-bottom: 2vh;
}

#financeButton {
    margin-bottom: 2vh;
}

/* settings page - Set Time */
#setTime {
    display: none;
}

#settingsRow {
    margin-bottom: 3vh;
    font-size: 2vh;
}

/* Apexcharts */
.apexcharts-menu {
    background: #332D2D !important;
    color: #FBFBFB !important;
}

.apexcharts-menu-item:hover {
    background: #332D2D !important;
}

/* advancedStatistics page */
.available-balance {
    text-align: center;
}

.specialcard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}

.specialcard {
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;

}

.specialcard-body {
    padding: 10px;
}

.specialcard-title {
    font-size: 16px;
    font-weight: bold;
}

.specialcard-text {
    font-size: 14px;
}


/* documentation page */
.docu-image {
    border: 5px solid red;
}