/* --------- IMPORTS --------- */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Poppins);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------- CONTENT --------- */
#content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* This is the height from the top which is = to the size of the navbar */
    margin-top: 6.5vh;
}

/* --------- NAVBAR --------- */
#homeIcon {
    width: 4vh;
    height: 4vh;
}

.navContainer {
    width: 100%;
}

.navbar-toggler-icon {
    border-color: cyan;
}

#menuBtn {
    margin-bottom: 1.5vh;
}

.nav-left {
    text-align: left;
}

.nav-right {
    text-align: right;
}